{% extends 'base.html' %}
{% load static %}

{% extends 'app/base.html' %} 
{% load static %}
{% block title %}Building Ghar | Construction Management and Civil Structural Work{% endblock title %}
{% block meta_description %}Building Ghar offers expert construction management and civil structural work services, ensuring seamless project execution and structural integrity.{% endblock %}
{% block meta_keywords %}Construction Management, Civil Structural Work.{% endblock %}
{% block meta_author %}Page Author{% endblock %}
{% block og_url %}{% url 'index' %}{% endblock %}
{% block canonical_url %}{% url 'index' %}{% endblock %}
{% block robots_meta %}index, follow{% endblock %}




{% block content %}

<style>
   .content-title {
   color: #fff;
   }
   .portfolio1 {
   position: relative;
   width: 100%;
   max-width: 400px;
   margin: auto;
   overflow: hidden;
   }
   .portfolio1 .content-overlay {
   background: rgba(0,0,0,0.7);
   position: absolute;
   height: 100%;
   width: 100%;
   left: 0;
   top: 0;
   bottom: 0;
   right: 0;
   opacity: 0;
   -webkit-transition: all 0.4s ease-in-out 0s;
   -moz-transition: all 0.4s ease-in-out 0s;
   transition: all 0.4s ease-in-out 0s;
   }
   .portfolio1:hover .content-overlay {
   opacity: 1;
   }
   .content-image {
   width: 100%;
   }
   .content-details {
   position: absolute;
   text-align: center;
   padding-left: 1em;
   padding-right: 1em;
   width: 100%;
   top: 50%;
   left: 50%;
   opacity: 0;
   -webkit-transform: translate(-50%, -50%);
   -moz-transform: translate(-50%, -50%);
   transform: translate(-50%, -50%);
   -webkit-transition: all 0.3s ease-in-out 0s;
   -moz-transition: all 0.3s ease-in-out 0s;
   transition: all 0.3s ease-in-out 0s;
   }
   .portfolio1:hover .content-details {
   top: 40%;
   left: 50%;
   opacity: 1;
   }
   .header-style-one .nav-outer {
   padding-top: 0px;
   float: right;
   }
   body {
   font-family: Poppins, sans-serif;
   }
   .fXBuHm {
   display: none;
   }
   .dxiAcZ {
   border: transparent;
   background: transparent;
   }
   .dxiAcZ::before {
   display: none !important;
   }
   #gb-widget-7952 a {
   display: none !important;
   }
   .image-btm ul {
   margin-left: 20px;
   }
   .image-btm ul li {
   list-style: disc;
   color: #3a3a3a;
   }
   .fprIlH {
   display: none !important;
   }
   .main-header .logo-box .logo {
   position: relative;
   -webkit-transition: all 300ms ease;
   -moz-transition: all 300ms ease;
   -ms-transition: all 300ms ease;
   -o-transition: all 300ms ease;
   transition: all 300ms ease;
   padding: 6px 0 0 0px;
   background: transparent;
   border-radius: 0px;
   }
   .main-footer .footer-bottom .copyright-text {
   float: none;
   }
   .theme-background-color {
   background-color: #f34e00 !important;
   }
   .banner-carousel > .item > img {
   width: 100%;
   height: 560px !important;
   }
   .house-type-list li {
   cursor: pointer;
   }
   .requiredc {
   border: 1px solid red !important;
   }
   .wtsapp {
   position: fixed;
   bottom: 5px;
   z-index: 9999999;
   width: 60px;
   left: 5px;
   }
   .call {
   position: fixed;
   bottom: 10px;
   z-index: 9999999;
   width: 50px;
   right: 5px;
   }
   #wh-widget-send-button.wh-widget-right {
   display: none !important;
   }
   div.wh-widget-send-button-wrapper {
   bottom: -15px !important;
   }
   .top-left {
   width: 50%;
   }
   @media (max-width: 825px) {
   .int-des .package-lh p {
   text-align: left !important;
   }
   }
   @media (max-width:767px) {
   .top-left {
   width: 100%;
   }
   #wh-widget-send-button.wh-widget-right {
   display: block !important;
   }
   div.wh-widget-send-button-wrapper {
   bottom: -15px !important;
   }
   #wh-widget-send-button iframe {
   width: 100%;
   height: 110% !important;
   }
   tawkchat-container {
   display: none !important;
   }
   #tawkchat-status-icon {
   display: none !important;
   }
   #tawkchat-minified-box {
   display: none !important;
   }
   .round #tawkchat-minified-wrapper {
   display: none !important;
   }
   }
   .hire h2 {
   font-weight: 600;
   font-size: 30px;
   margin-bottom: 40px;
   }
   .hire-icon {
   margin-bottom: 40px;
   }
   .hire-icon span {
   font-size: 22px;
   font-weight: 600;
   color: #f34e00;
   float: left;
   }
   .hire-icon p {
   font-size: 15px;
   color: #000;
   }
   .hire-icon span i {
   font-size: 24px;
   color: #f34e00;
   padding-right: 5px;
   }
   .tpftr1 {
   padding-bottom: 50px;
   /* border-top: 1px solid #ccc;*/
   }
   .hire-sec {
   border-right: 1px solid #ccc;
   }
   .bfr-ftr-hire {
   padding-top: 6%;
   }
   sup {
   top: 0;
   font-size: 100%;
   }
   @media (max-width:767px) {
   .great i {
   padding: 0px 11px 0 5px !important;
   }
   .img-cntr {
   margin: 0 auto;
   display: block;
   }
   .header-top .top-right {
   padding: 0 !important;
   }
   .top-iso p {
   padding-bottom: 0 !important;
   }
   }
</style>
<style>
   .dxiAcZ {
   display: none !important;
   }
   .page-wrapper .sidebar-wrapper,
   .sidebar-wrapper .sidebar-brand > a,
   .sidebar-wrapper .sidebar-dropdown > a:after,
   .sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li a:before,
   .sidebar-wrapper ul li a i,
   .page-wrapper .page-content,
   .sidebar-wrapper .sidebar-search input.search-menu,
   .sidebar-wrapper .sidebar-search .input-group-text,
   .sidebar-wrapper .sidebar-menu ul li a,
   #show-sidebar,
   #close-sidebar {
   -webkit-transition: all 0.3s ease;
   -moz-transition: all 0.3s ease;
   -ms-transition: all 0.3s ease;
   -o-transition: all 0.3s ease;
   transition: all 0.3s ease;
   }
   /----------------page-wrapper----------------/
   .page-wrapper .theme {
   width: 40px;
   height: 40px;
   display: inline-block;
   border-radius: 4px;
   margin: 2px;
   }
   .page-wrapper .theme.chiller-theme {
   background: #1e2229;
   }
   /----------------toggeled sidebar----------------/
   .page-wrapper.toggled .sidebar-wrapper {
   left: 0px;
   background: #fff;
   }
   .fa-bars {
   font-size: 26px;
   }
   #show-sidebar {
   position: absolute;
   right: 20px;
   top: 25px;
   /* border-radius: 0 4px 4px 0px; */
   /* width: 35px; */
   transition-delay: 0.3s;
   /* position: fixed;
   left: 0;
   top: 10px;
   border-radius: 0 4px 4px 0px;
   width: 35px;
   transition-delay: 0.3s;*/
   }
   @media screen and (min-width: 768px) {
   .page-wrapper.toggled .page-content {
   padding-left: 300px;
   }
   }
   @media screen and (max-width: 768px) {
   .main-header .logo-box {
   position: relative !important;
   }
   #show-sidebar {
   right: 20px;
   top: -55px;
   }
   .hidden-xs a {
   display: none !important;
   }
   .account-curr-lang-wrap > ul > li::before {
   display: none;
   }
   .account-curr-lang-wrap ul {
   display: none;
   }
   .border-0 {
   border: 0 !important;
   }
   .header-bottom {
   padding: 0px 0 5px;
   }
   .slogan {
   margin-left: 0;
   }
   }
   @media screen and (max-width: 479px) {
   #show-sidebar {
   right: 20px;
   top: -39px;
   }
   }
   /----------------show sidebar button----------------/
   .page-wrapper.toggled #show-sidebar {
   right: 20px;
   }
   /----------------sidebar-wrapper----------------/
   .sidebar-wrapper {
   width: 260px;
   height: 100%;
   max-height: 100%;
   position: fixed;
   top: 0;
   left: -300px;
   z-index: 999;
   }
   .sidebar-wrapper ul
   .sidebar-wrapper .sidebar-menu .sidebar-dropdown > a:after {
   list-style-type: none;
   padding: 0;
   margin: 0;
   }
   .sidebar-wrapper a {
   text-decoration: none;
   }
   /----------------sidebar-content----------------/
   .sidebar-content {
   max-height: calc(100% - 30px);
   height: calc(100% - 30px);
   overflow-y: auto;
   position: relative;
   }
   .sidebar-content.desktop {
   overflow-y: hidden;
   }
   /--------------------sidebar-brand----------------------/
   .sidebar-wrapper .sidebar-brand {
   padding: 5px 20px;
   display: flex;
   align-items: center;
   }
   .sidebar-wrapper .sidebar-brand > a {
   text-transform: uppercase;
   font-weight: bold;
   flex-grow: 1;
   }
   .sidebar-wrapper .sidebar-brand #close-sidebar {
   cursor: pointer;
   font-size: 20px;
   }
   /--------------------sidebar-header----------------------/
   .sidebar-wrapper .sidebar-header {
   padding: 0 20px 20px 10px;
   overflow: hidden;
   }
   .sidebar-wrapper .sidebar-header .user-pic {
   float: left;
   width: 60px;
   padding: 2px;
   border-radius: 12px;
   margin-right: 15px;
   overflow: hidden;
   }
   .sidebar-wrapper .sidebar-header .user-pic img {
   object-fit: cover;
   height: 100%;
   width: 100%;
   }
   .sidebar-wrapper .sidebar-header .user-info {
   float: left;
   }
   .sidebar-wrapper .sidebar-header .user-info > span {
   display: block;
   }
   .sidebar-wrapper .sidebar-header .user-info .user-role {
   font-size: 12px;
   }
   .sidebar-wrapper .sidebar-header .user-info .user-status {
   font-size: 11px;
   margin-top: 4px;
   }
   .sidebar-wrapper .sidebar-header .user-info .user-status i {
   font-size: 8px;
   margin-right: 4px;
   color: #5cb85c;
   }
   .sidebar-wrapper .sidebar-search > div {
   padding: 10px 20px;
   }
   .sidebar-wrapper .sidebar-menu {
   padding-bottom: 10px;
   margin-top: 15px;
   }
   .sidebar-wrapper .sidebar-menu .header-menu span {
   font-weight: bold;
   font-size: 14px;
   padding: 15px 20px 5px 20px;
   display: inline-block;
   }
   .sidebar-wrapper .sidebar-menu ul li a {
   display: inline-block;
   width: 100%;
   text-decoration: none;
   position: relative;
   padding: 8px 30px 8px 20px;
   font-size: 18px;
   font-weight: 600;
   }
   .sidebar-wrapper .sidebar-menu ul li {
   border-bottom: 1px solid #e4e4e4;
   }
   .sidebar-wrapper .sidebar-menu ul li a i {
   margin-right: 10px;
   font-size: 12px;
   width: 30px;
   height: 30px;
   line-height: 30px;
   text-align: center;
   border-radius: 4px;
   }
   .sidebar-wrapper .sidebar-menu ul li a:hover > i::before {
   display: inline-block;
   animation: swing ease-in-out 0.5s 1 alternate;
   }
   .sidebar-wrapper .sidebar-menu .sidebar-dropdown > a:after {
   font-family: "Font Awesome 5 Free";
   font-weight: 900;
   content: "\f105";
   font-style: normal;
   display: inline-block;
   font-style: normal;
   font-variant: normal;
   text-rendering: auto;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   text-align: center;
   background: 0 0;
   position: absolute;
   right: 15px;
   top: 8px;
   }
   .sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu ul {
   padding: 5px 0;
   }
   .sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li {
   padding-left: 10px;
   font-size: 13px;
   }
   #close-sidebar .fa-times {
   position: absolute;
   right: 5px;
   top: 25px;
   font-size: 25px;
   }
   /*   .sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li a:before {
   content: "\f111";
   font-family: "Font Awesome 5 Free";
   font-weight: 400;
   font-style: normal;
   display: inline-block;
   text-align: center;
   text-decoration: none;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   margin-right: 10px;
   font-size: 8px;
   }
   */
   .sidebar-wrapper .sidebar-menu ul li a span.label,
   .sidebar-wrapper .sidebar-menu ul li a span.badge {
   float: right;
   margin-top: 8px;
   margin-left: 5px;
   }
   .sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li a .badge,
   .sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li a .label {
   float: right;
   margin-top: 0px;
   }
   .sidebar-wrapper .sidebar-menu .sidebar-submenu {
   display: none;
   }
   .sidebar-wrapper .sidebar-menu .sidebar-dropdown.active > a:after {
   transform: rotate(90deg);
   right: 17px;
   }
   /--------------------------side-footer------------------------------/
   .sidebar-footer {
   position: absolute;
   width: 100%;
   bottom: 0;
   display: flex;
   }
   .sidebar-footer > a {
   flex-grow: 1;
   text-align: center;
   height: 30px;
   line-height: 30px;
   position: relative;
   }
   .sidebar-footer > a .notification {
   position: absolute;
   top: 0;
   }
   .badge-sonar {
   display: inline-block;
   background: #980303;
   border-radius: 50%;
   height: 8px;
   width: 8px;
   position: absolute;
   top: 0;
   }
   .badge-sonar:after {
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   border: 2px solid #980303;
   opacity: 0;
   border-radius: 50%;
   width: 100%;
   height: 100%;
   animation: sonar 1.5s infinite;
   }
   @media (max-width: 767px) {
   .logo {
   margin: 0 auto;
   }
   .welcome-area img {
   display: block;
   margin: 0 auto;
   }
   .welcome-area p {
   text-align: center;
   }
   .page-wrapper {
   overflow: visible !important;
   }
   .main-header .logo-box {
   top: 0px !important;
   width: 100% !important;
   }
   .header-style-one.fixed-header .logo-box {
   top: 0px !important;
   }
   .header-style-one.fixed-header #show-sidebar {
   top: -40px;
   }
   }
   @media only screen and (max-width: 768px) {
   .logo-box {
   margin-top: -3px;
   }
   }
   .main-menu .navigation > li > ul {
   width: 220px;
   }
   .txt-white p {
   color: #fff;
   }
   .footer-sm-icns li a i {
   font-size: 20px;
   }
   .tab-content .item {
   width: 100%;
   overflow: hidden;
   background: #000;
   }
   .tab-content .item img {
   width: 100%;
   height: 100%;
   transform: scale(1.15);
   transition: transform 0.5s, opacity 0.5s;
   opacity: 1;
   }
   .tab-content .item img:hover {
   opacity: 0.6;
   transform: scale(1.03);
   }
   #double-tabber .tab-content > .active {
   display: block;
   /* overflow: auto;*/
   }
   /--------------------------page-content-----------------------------/
</style>
<link rel="stylesheet" href="../rawgit.com/LeshikJanz/libraries/master/Bootstrap/baguetteBox.min.css" />
<style>
   @media only screen and (max-width: 414px) {
   .enquiry-form {
   margin-top: 0%;
   width: 100%;
   position: initial;
   }
   }
   @media only screen and (max-width: 568px) {
   .form-mrtp {
   margin-top: 0;
   }
   }
   .sidebar-wrapper .sidebar-menu ul li ul li a {
   font-size: 16px;
   }
   #baguetteBox-overlay .full-image img {
   max-height: 70% !important;
   }
   /* Override bootstrap column paddings */
   .tz-gallery .row > div {
   padding: 5px;
   }
   .tz-gallery .lightbox img {
   width: 100%;
   border-radius: 0;
   position: relative;
   height: 250px;
   }
   .tz-gallery .lightbox:before {
   position: absolute;
   top: 50%;
   left: 50%;
   margin-top: -13px;
   margin-left: -13px;
   opacity: 0;
   color: #fff;
   font-size: 26px;
   /* font-family: 'Glyphicons Halflings';
   content: '\e003';*/
   pointer-events: none;
   z-index: 9000;
   transition: 0.4s;
   }
   .tz-gallery .lightbox:after {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   opacity: 0;
   background-color: rgb(45 45 45 / 60%);
   content: '';
   transition: 0.4s;
   }
   .tz-gallery .lightbox:hover:after,
   .tz-gallery .lightbox:hover:before {
   opacity: 1;
   }
   .baguetteBox-button {
   background-color: transparent !important;
   }
   .scroll-to-top {
   bottom: 40px;
   }
   .services-section.style-six .services-carousel-two .center .service-block .lower-content a {
   color: #fff;
   }
   @media (max-width: 767px) {
   .scroll-to-top {
   bottom: 80px;
   right: 5px;
   z-index: 99999;
   }
   #gb-widget-7952 a {
   display: block !important;
   }
   .tz-gallery .lightbox img {
   height: 350px;
   }
   .price-hd {
   display: none;
   }
   }
   @media only screen and (max-width: 767px) {
   .hire-icon p {
   line-height: 15px;
   }
   .hire-icon span {
   margin: 0 auto;
   width: 100%;
   margin-top: 20px;
   }
   .bfr-ftr-hire {
   text-align: center;
   }
   }
   .pdrt {
   padding-right: 20px;
   }
   .price {
   font-size: 16px;
   }
   ul.nav.nav-tabs h5 {
   font-weight: 600;
   font-size: 18px;
   }
   @media (max-width: 479px) {
   .table-dotted-border li {
   font-size: 14px;
   }
   .bg-white1 ul li {
   font-size: 14px;
   }
   #double-tabber > ul.nav-tabs > li > a {
   font-size: 16px !important;
   }
   .price {
   font-size: 16px;
   }
   }
</style>
<meta name="description" content="We had finished 100+ individual house constructs projects. We provide Trusted construction Service in Bangalore" />
<link rel="canonical" href="projects.html" />
<style>
   .header-style-one .main-menu .navigation > li.project a {
   border-bottom: 2px solid #f34e00;
   }
   .port-img img {
   border-radius: 5px 5px 0px 0px;
   max-height: 240px;
   width: 100%;
   }
   .sec-title h2 {
   font-size: 36px !important;
   font-weight: 800 !important;
   }
   a.moreless-button:focus {
   color: #fff;
   }
   .portfolio1 {
   margin-bottom: 50px;
   border: 1px solid transparent;
   border-radius: 5px;
   box-shadow: 0px 2px 3px 2px #ececec;
   transition: all .7s;
   /*    display: none;*/
   }
   .portfolio1.display {
   display: inline-block;
   }
   .portfolio1:hover {
   box-shadow: 2px 2px 3px 2px #737373;
   transform: scale(1.10);
   }
   .port-img img {
   border-radius: 5px 5px 0px 0px;
   max-height: 240px;
   width: 100%;
   }
   .port-details {
   padding: 10px 15px;
   }
   .port-details h4 {
   margin-top: 0;
   font-size: 16px;
   font-weight: 500;
   }
   .header-style-one .main-menu .navigation > li.project a {
   border-bottom: 2px solid #f34e00;
   }
   .pack-details {
   margin: 5px 0px 0;
   border-top: 1px solid #ccc;
   padding-top: 5px;
   }
   .pack-details .col-md-4 {
   padding-left: 0;
   padding-right: 5px;
   }
   .pack-details .col-md-3 {
   padding-left: 0;
   padding-right: 5px;
   }
   .pack-details .col-md-5 {
   padding-left: 0;
   padding-right: 5px;
   }
   .pack-details p {
   font-size: 13px;
   }
   .tpftr {
   display: none;
   }
   .header-style-one {
   position: inherit;
   left: 0;
   top: 0;
   width: 100%;
   box-shadow: 0px 0px 5px #e0e0e0;
   }@media only screen and (max-width: 767px){
   .our-expertise .pack-details .col-xs-3{
   max-width:25% !important;
   }
   .pack-details p {
   font-size: 12px;
   }
   }
</style>
</head>
<body>
<form method="post" action="#" id="form1">
   
        
         <div class="form-back-drop"></div>
         <section class="hidden-bar">
            <div class="inner-box">
               <div class="cross-icon"><span class="fa fa-times"></span></div>
               <div class="title">
                  <h2>Get Appointment</h2>
               </div>
               <div class="appointment-form">
                  <div>
                     <div class="form-group">
                        <input type="text" name="text" value placeholder="Name">
                     </div>
                     <div class="form-group">
                        <input type="email" name="email" value placeholder="Email Address">
                     </div>
                     <div class="form-group">
                        <input type="text" name="phone" value placeholder="Phone no.">
                     </div>
                     <div class="form-group">
                        <textarea placeholder="Message"></textarea>
                     </div>
                     <div class="form-group">
                        <button type="submit" class="theme-btn btn-style-three">Submit now</button>
                     </div>
                  </div>
               </div>
               <div class="contact-info-box">
                  <ul class="info-list">
                     <li><i class="fa fa-phone-volume"></i><a href="tel:+91 000000000">+91 000000000</a></li>
                     <li><i class="fa fa-envelope"></i><a href="cdn-cgi/l/email-protection.html#c0b9afb5b280ada1a9aceea3afad"><span class="_cf_email_" data-cfemail="463f293334062b272f2a6825292b">[email&#160;protected]</span></a></li>
                  </ul>
                  <ul class="social-list clearfix">
                     <li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                     <li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
                     <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
                     <li><a href="#"><i class="fab fa-skype"></i></a></li>
                     <li><a href="#"><i class="fab fa-linkedin-in" target="_blank"></i></a></li>
                     <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                  </ul>
               </div>
            </div>
         </section>
         <section class="services-section our-expertise" style="padding: 50px 0px">
            <div class="container">
               <div class="sec-title text-center wow zoomIn" style="visibility: visible; animation-name: zoomIn;">
                  <h2 class="text-center">CONSTRUCTION PORTFOLIO</h2>
               </div>
               <br/>
               <div class="row">
                  {% for i in project %}
                  <div class="col-md-4">
                     <a href="{% url 'construction_project_view' id=i.id %}">
                        <div class="portfolio1">
                           <div class="port-img">
                              <img src="{{ i.feature_image.url }}" class="img-responsive" alt="House Image" />
                           </div>
                           <div class="port-details">
                              <div class="row">
                                 <div class="col-md-6 col-sm-6 col-xs-6">
                                    <h4>{{i.project_id}}</h4>
                                 </div>
                                 <div class="col-md-6 col-sm-6 col-xs-6 text-right">
                                    <h4>{{i.location}}</h4>
                                 </div>
                              </div>
                              <div class="row pack-details">
                                 <div class="col-md-4 col-sm-4 col-xs-4">
                                    <p>{{i.area}}</p>
                                 </div>
                                 <div class="col-md-3 col-sm-3 col-xs-3 text-center">
                                    <p>{{i.floor}}</p>
                                 </div>
                                 <div class="col-md-5 col-sm-5 col-xs-5 text-right">
                                    <p>{{i.package}}</p>
                                 </div>
                              </div>
                           </div>
                           <div class="content-overlay"></div>
                           <div class="content-details fadeIn-bottom">
                              <h3 class="content-title">View Project Details</h3>
                           </div>
                        </div>
                     </a>
                  </div>
                 
                  {% endfor %}
                 
               </div>
            </div>
         </section>
         <style>
            h1, h2, h3, h4, h5, h6 {
                position: relative;
                font-weight: 400;
                margin: 25px;
                background: 0 0;
                line-height: 1.2em;
            }
         </style>
         
         
         
         
         
         
          <section class="section p-none txt-justify" style="background: #fff;">
            <div class="container">
                <div class=" content-box content-box1">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="sec-title text-center" style="margin-top: 25px">
                                <h2 class="text-center">Construction Management </h2>
                            </div>
                        </div>
                        <div class="col-md-6 bdrrht">
                            <h3>Construction Management</h3>
                            <h4>“We design for the present with the understanding of the past and prediction of the future”</h4>
                            <p>Building Ghar, where we take the stress out of construction projects and ensure seamless execution from start to finish. At Building Ghar, we understand that effective project management is crucial for the success of any construction endeavor. That's why we offer comprehensive construction management services to oversee every aspect of your project and deliver exceptional results.

                                Building Ghar takes a proactive and collaborative approach to construction management, focusing on communication, transparency, and accountability. Our experienced project managers work closely with clients, architects, engineers, contractors, and vendors to streamline the construction process, minimize risks, and maximize efficiency. From project planning and scheduling to budget management and quality control, we handle every detail with precision and care.
                                
                                We offers a comprehensive range of construction management services tailored to meet the unique needs of each project. Whether you're embarking on a <a href="https://buildingghar.com/renovation">residential</a>, commercial, or institutional construction project, our team has the expertise and experience to ensure its success.
                                 </p>
                        </div>
                        <div class="col-md-6 p-none">
                            <img src="{% static 'img/architectural_service1.jpg' %}" class="img-responsive" alt="Image" />
                        </div>
                    </div>
                </div>
            </div>
         </section>
         <section class="section p-none txt-justify" style="background: #fafafa;">
            <div class="container">
                <div class=" content-box content-box1">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="sec-title text-center" style="margin-top: 25px">
                                <h2 class="text-center">Civil Structural Work </h2>
                            </div>
                        </div>
                        <div class="col-md-6 p-none bdrrht">
                            <img src="{% static 'img/about-villa.png' %}" class="img-responsive" alt="Image" />
                        </div>
                        <div class="col-md-6">
                            <h3>Civil Structural Work</h3>
                            <h4>“A transparent and outstanding construction service with 5 years of warranty”</h4>
                            <p>Building Ghar, where we specialize in engineering excellence and structural integrity. we understand the critical role of civil and structural engineering in the success of construction projects. That's why we offer comprehensive civil structural work services, combining technical expertise with <a href="https://buildingghar.com/floor_addition">innovative solutions</a> to deliver projects that stand the test of time.

                                Building Ghar takes a collaborative and detail-oriented approach to civil structural work, focusing on precision, efficiency, and safety. Our civil engineers and structural designers work closely with clients, architects, and construction teams to develop cost-effective and sustainable solutions that meet project requirements and exceed expectations. From conceptual design to final inspection, we ensure that every aspect of our work meets the highest quality and compliance standards.
                                
                                We offers a comprehensive range of civil structural work services tailored to meet the diverse needs of our clients. Whether you're planning a residential, commercial, or industrial construction project, our team has the expertise and experience to deliver exceptional results.
                                
                            </p>
                        </div>
                    </div>
                </div>
            </div>
         </section>
         <div class="container-fluid tpftr2">
            <div class="row">
               <div class="container tpftr1">
                  <div class="row">
                     <div class="col-md-7">
                        <div class="bfr-ftr-hire">
                           <div class="hire">
                              <h2>Hire our Trusted construction Service</h2>
                           </div>
                           <div class="row hire-icon">
                              <div class="col-md-4">
                                 <div class="hire-sec">
                                    <span><i class="fa fa-home"></i></span>
                                    <p>Quality Homes</p>
                                 </div>
                              </div>
                              <div class="col-md-4">
                                 <div class="hire-sec">
                                    <span><i class="fa fa-eye"></i></span>
                                    <p>Transparent Service</p>
                                 </div>
                              </div>
                              <div class="col-md-4">
                                 <div class="hire-sec great" style="border-right: 0 !important">
                                    <span><i class="fa fa-inr"></i></span>
                                    <p>Great Value</p>
                                 </div>
                              </div>
                           </div>
                           <div class="row">
                              <div class="col-md-12">
                                 <a class="purchased package-footer-btn btn-style-one" href="contactus">Lets Build</a>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-md-5">
                        <img src="{% static 'img/how-construction-and-architecture.png' %}" class="img-responsive" alt="Backgroung Image" />
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <script data-cfasync="false" src="cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script src="../cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js" type="42d35074aec610b2f8039c63-text/javascript"></script>
         <div class="container-fluid tpftr">
            <div class="row">
               <div class="container tpftr1">
                  <div class="row">
                     <div class="col-md-7">
                        <div class="bfr-ftr-hire">
                           <div class="hire">
                              <h2>Hire our Trusted construction Service</h2>
                           </div>
                           <div class="row hire-icon">
                              <div class="col-md-4">
                                 <div class="hire-sec">
                                    <span><i class="fa fa-home"></i></span>
                                    <p>Quality Homes</p>
                                 </div>
                              </div>
                              <div class="col-md-4">
                                 <div class="hire-sec">
                                    <span><i class="fa fa-eye"></i></span>
                                    <p>Transparent Service</p>
                                 </div>
                              </div>
                              <div class="col-md-4">
                                 <div class="hire-sec great" style="border-right: 0 !important">
                                    <span><i class="fa fa-inr"></i></span>
                                    <p>Great Value</p>
                                 </div>
                              </div>
                           </div>
                           <div class="row">
                              <div class="col-md-12">
                                 <a class="purchased package-footer-btn btn-style-one" href="contactus">Lets Build</a>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-md-5">
                        <img src="img/bg.svg" class="img-responsive" alt="Backgroung Image" />
                     </div>
                  </div>
               </div>
            </div>
         </div>
         
         <div class="call hidden-lg hidden-md hidden-sm visible-xs">
            <a href="tel:+91 7802-80-80-80">
            <img src="img/call.png' %}" class="img-responsive" alt="Call icon" /></a>
         </div>
         <div class="scroll-to-top scroll-to-target" data-target="html"><span class="fa fa-arrow-up"></span></div>
         <script src="js/jquery.js" type="42d35074aec610b2f8039c63-text/javascript"></script>
         <script src="../maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" type="42d35074aec610b2f8039c63-text/javascript"></script>
         <script src="../cdnjs.cloudflare.com/ajax/libs/fancybox/3.3.5/jquery.fancybox.js" type="42d35074aec610b2f8039c63-text/javascript"></script>
         <script src="../cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" type="42d35074aec610b2f8039c63-text/javascript"></script>
         <script src="../cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" type="42d35074aec610b2f8039c63-text/javascript"></script>
         <script type="42d35074aec610b2f8039c63-text/javascript">
            // Gallery image hover
            $(".img-wrapper").hover(
                function () {
                    $(this).find(".img-overlay").animate({ opacity: 1 }, 600);
                }, function () {
                    $(this).find(".img-overlay").animate({ opacity: 0 }, 600);
                }
            );
            
            // Lightbox
            var $overlay = $('<div id="overlay"></div>');
            var $image = $("<img>");
            var $prevButton = $('<div id="prevButton"><i class="fa fa-chevron-left"></i></div>');
            var $nextButton = $('<div id="nextButton"><i class="fa fa-chevron-right"></i></div>');
            var $exitButton = $('<div id="exitButton"><i class="fa fa-times"></i></div>');
            
            // Add overlay
            $overlay.append($image).prepend($prevButton).append($nextButton).append($exitButton);
            $("#gallery").append($overlay);
            
            // Hide overlay on default
            $overlay.hide();
            
            // When an image is clicked
            $(".img-overlay").click(function (event) {
                // Prevents default behavior
                event.preventDefault();
                // Adds href attribute to variable
                var imageLocation = $(this).prev().attr("href");
                // Add the image src to $image
                $image.attr("src", imageLocation);
                // Fade in the overlay
                $overlay.fadeIn("slow");
            });
            
            // When the overlay is clicked
            $overlay.click(function () {
                // Fade out the overlay
                $(this).fadeOut("slow");
            });
            
            // When next button is clicked
            $nextButton.click(function (event) {
                // Hide the current image
                $("#overlay img").hide();
                // Overlay image location
                var $currentImgSrc = $("#overlay img").attr("src");
                // Image with matching location of the overlay image
                var $currentImg = $('#image-gallery img[src="' + $currentImgSrc + '"]');
                // Finds the next image
                var $nextImg = $($currentImg.closest(".image").next().find("img"));
                // All of the images in the gallery
                var $images = $("#image-gallery img");
                // If there is a next image
                if ($nextImg.length > 0) {
                    // Fade in the next image
                    $("#overlay img").attr("src", $nextImg.attr("src")).fadeIn(800);
                } else {
                    // Otherwise fade in the first image
                    $("#overlay img").attr("src", $($images[0]).attr("src")).fadeIn(800);
                }
                // Prevents overlay from being hidden
                event.stopPropagation();
            });
            
            // When previous button is clicked
            $prevButton.click(function (event) {
                // Hide the current image
                $("#overlay img").hide();
                // Overlay image location
                var $currentImgSrc = $("#overlay img").attr("src");
                // Image with matching location of the overlay image
                var $currentImg = $('#image-gallery img[src="' + $currentImgSrc + '"]');
                // Finds the next image
                var $nextImg = $($currentImg.closest(".image").prev().find("img"));
                // Fade in the next image
                $("#overlay img").attr("src", $nextImg.attr("src")).fadeIn(800);
                // Prevents overlay from being hidden
                event.stopPropagation();
            });
            
            // When the exit button is clicked
            $exitButton.click(function () {
                // Fade out the overlay
                $("#overlay").fadeOut("slow");
            });
         </script>
         <script src="js/custom_new.js" type="42d35074aec610b2f8039c63-text/javascript"></script>
         <script type="42d35074aec610b2f8039c63-text/javascript">
            $(window).resize(function () {
                $('.banner-carousel').height($(window).height());
            
            
            });
            
            $(window).trigger('resize');
            
         </script>
         <div id="contact-plugin-body" class="cp-body-close">
            <div id="cp-inner" class="cp-none">
               <h2>Quick Contact</h2>
               <div class="cp-form">
                  <input name="txt_name1" type="text" id="txt_name1" class="form-control" placeholder="Name" />
                  <input name="txt_mobile1" type="text" id="txt_mobile1" class="form-control" placeholder="Mobile" />
                  <input name="txt_email1" type="text" id="txt_email1" class="form-control" placeholder="Email" />
                  <textarea name="txt_msg1" rows="2" cols="20" id="txt_msg1" class="form-control" placeholder="Message" style="height: 100px;"></textarea>
                  <input type="submit" name="Button1" value="Submit" id="Button1" class="btn-style-right" />
               </div>
            </div>
         </div>
         <script type="42d35074aec610b2f8039c63-text/javascript">
            $(document).ready(function () {
            
                $("#clickid").click(function () {
                    alert(hi);
            
            
                });
            
                $("#contact-plugin").click(function () {
            
                    if ($(this).attr("class") == "cp-btn-close") {
                        $(this).addClass("cp-btn-open");
                        $(this).removeClass("cp-btn-close");
                        $(this).animate({ right: "250" }, 500);
                        $("#contact-plugin-body").animate({ width: "250", border: "1" }, 500);
                        $("#cp-inner").addClass("cp-block");
                        $("#cp-inner").removeClass("cp-none");
                    }
                    else {
                        $(this).removeClass("cp-btn-open");
                        $(this).addClass("cp-btn-close");
                        $("#contact-plugin-body").animate({ width: "0", border: "0" }, 500);
                        $(this).animate({ right: "0" }, 500);
                        $("#cp-inner").removeClass("cp-block");
                        $("#cp-inner").addClass("cp-none");
                    }
                });
            });
         </script>
         <script type="42d35074aec610b2f8039c63-text/javascript">
            $(function () {
                $('[role=dialog]')
                    .on('show.bs.modal', function (e) {
                        $(this)
                            .find('[role=document]')
                            .removeClass()
                            .addClass('modal-dialog ' + $(e.relatedTarget).data('ui-class'))
                    })
            })
         </script>
         <script src="js/popper.min.js" type="42d35074aec610b2f8039c63-text/javascript"></script>
         <script src="js/jquery.fancybox.js" type="42d35074aec610b2f8039c63-text/javascript"></script>
         <script src="js/owl.js" type="42d35074aec610b2f8039c63-text/javascript"></script>
         <script src="js/wow.js" type="42d35074aec610b2f8039c63-text/javascript"></script>
         <script src="js/appear.js" type="42d35074aec610b2f8039c63-text/javascript"></script>
         <script src="js/jquery.mcustomscrollbar.concat.min.js" type="42d35074aec610b2f8039c63-text/javascript"></script>
         <script src="js/jquery-ui.js" type="42d35074aec610b2f8039c63-text/javascript"></script>
         <script src="js/mixitup.js" type="42d35074aec610b2f8039c63-text/javascript"></script>
         <script src="js/script.js" type="42d35074aec610b2f8039c63-text/javascript"></script>
         <script src="js/color-settings.js" type="42d35074aec610b2f8039c63-text/javascript"></script>
         <script src="js/jquery.bgscroll.js" type="42d35074aec610b2f8039c63-text/javascript"></script>
         <script type="42d35074aec610b2f8039c63-text/javascript">
            (function ($) {
            
                'use strict';
                function bg_moving() {
                    jQuery(function () {
                        jQuery('.bg-moving').bgscroll({ scrollSpeed: 20, direction: 'h' });
                    });
                }
                jQuery(document).ready(function () {
                    bg_moving()
                });
            })(window.jQuery);
         </script>
         <script type="42d35074aec610b2f8039c63-text/javascript">
            $(document).ready(function () {
                $("#testimonial-slider").owlCarousel({
                    loop: true,
                    margin: 40,
                    dots: true,
                    nav: true,
                    smartSpeed: 700,
                    autoplay: true,
            
                    responsive: {
                        0: {
                            items: 1
                        },
                        600: {
                            items: 1
                        },
                        768: {
                            items: 1
                        },
                        1024: {
                            items: 1
                        },
                        1200: {
                            items: 1
                        }
                    }
                });
            });
         </script>
         <script src="js/main.html" type="42d35074aec610b2f8039c63-text/javascript"></script>
      </div>
   </div>
</form>
<style>
   .theme-background-color {
   background-color: #f34e00 !important;
   }
   .fprIlH {
   display: none !important;
   }
   @media (max-width: 767px) {
   .fprIlH {
   display: block !important;
   }
   }
</style>
<script src="js/owl.carousel.min.js" type="42d35074aec610b2f8039c63-text/javascript"></script>
<script type="42d35074aec610b2f8039c63-text/javascript">
   $('.interior-carousel').owlCarousel({
       loop: true,
       margin: 15,
       nav: true,
       autoplayTimeout: 4000,
       autoplay: true, navText: ['<span class="fa fa-long-arrow-left"></span> prev', 'next<span class="fa fa-long-arrow-right"></span>'],
       responsive: {
           0: {
               items: 1
           },
           600: {
               items: 2
           },
           1000: {
               items: 3
           }
       }
   })
</script>
<script type="42d35074aec610b2f8039c63-text/javascript">
   $('.interior-carousel1').owlCarousel({
       loop: true,
       margin: 15,
       nav: true,
       autoplay: true,
       autoplayTimeout: 5000,
       navText: ['<span class="fa fa-long-arrow-left"></span> prev', 'next<span class="fa fa-long-arrow-right"></span>'],
       responsive: {
           0: {
               items: 1
           },
           600: {
               items: 2
           },
           1000: {
               items: 3
           }
       }
   })
</script>
<script type="42d35074aec610b2f8039c63-text/javascript">
   $('.interior-carousel2').owlCarousel({
       loop: true,
       margin: 15,
       nav: true,
       autoplay: true,
       autoplayTimeout: 6000,
       navText: ['<span class="fa fa-long-arrow-left"></span> prev', 'next<span class="fa fa-long-arrow-right"></span>'],
       responsive: {
           0: {
               items: 1
           },
           600: {
               items: 2
           },
           1000: {
               items: 3
           }
       }
   })
</script>
<script type="42d35074aec610b2f8039c63-text/javascript">
   $('.interior-carousel3').owlCarousel({
       loop: true,
       margin: 15,
       nav: true,
       autoplayTimeout: 4000,
       autoplay: true, navText: ['<span class="fa fa-long-arrow-left"></span> prev', 'next<span class="fa fa-long-arrow-right"></span>'],
       responsive: {
           0: {
               items: 1
           },
           600: {
               items: 2
           },
           1000: {
               items: 3
           }
       }
   })
</script>
<script type="42d35074aec610b2f8039c63-text/javascript">
   $('.interior-carousel4').owlCarousel({
       loop: true,
       margin: 15,
       nav: true,
       autoplay: true,
       autoplayTimeout: 5000,
       navText: ['<span class="fa fa-long-arrow-left"></span> prev', 'next<span class="fa fa-long-arrow-right"></span>'],
       responsive: {
           0: {
               items: 1
           },
           600: {
               items: 2
           },
           1000: {
               items: 3
           }
       }
   })
</script>
<script type="42d35074aec610b2f8039c63-text/javascript">
   $('.interior-carousel5').owlCarousel({
       loop: true,
       margin: 15,
       nav: true,
       autoplay: true,
       autoplayTimeout: 6000,
       navText: ['<span class="fa fa-long-arrow-left"></span> prev', 'next<span class="fa fa-long-arrow-right"></span>'],
       responsive: {
           0: {
               items: 1
           },
           600: {
               items: 2
           },
           1000: {
               items: 3
           }
       }
   })
</script>
<script type="42d35074aec610b2f8039c63-text/javascript">
   $('.interior-carousel6').owlCarousel({
       loop: true,
       margin: 15,
       nav: true,
       autoplayTimeout: 4000,
       autoplay: true, navText: ['<span class="fa fa-long-arrow-left"></span> prev', 'next<span class="fa fa-long-arrow-right"></span>'],
       responsive: {
           0: {
               items: 1
           },
           600: {
               items: 2
           },
           1000: {
               items: 3
           }
       }
   })
</script>
<script type="42d35074aec610b2f8039c63-text/javascript">
   $('.project-carousel').owlCarousel({
       loop: true,
       margin: 10,
       autoplay: true,
       nav: true,
       dots: true,
       autoHeight: true,
       responsive: {
           0: {
               items: 1
           },
           600: {
               items: 1
           },
           1000: {
               items: 1,
           }
       }
   })
</script>
<script type="42d35074aec610b2f8039c63-text/javascript">
   $(function () {
       $(".portfolio").slice(0, 10).addClass('display');
       $(".btn-load").on('click', function (e) {
           e.preventDefault();
           $(".portfolio:hidden").slice(0, 5).addClass('display');
           if ($(".portfolio:hidden").length == 2) {
               $("#load").fadeOut('slow');
           }
       });
   });
</script>
<script type="42d35074aec610b2f8039c63-text/javascript">
   jQuery(function ($) {
   
       $(".sidebar-dropdown > a").click(function () {
           $(".sidebar-submenu").slideUp(200);
           if (
               $(this)
                   .parent()
                   .hasClass("active")
           ) {
               $(".sidebar-dropdown").removeClass("active");
               $(this)
                   .parent()
                   .removeClass("active");
           } else {
               $(".sidebar-dropdown").removeClass("active");
               $(this)
                   .next(".sidebar-submenu")
                   .slideDown(200);
               $(this)
                   .parent()
                   .addClass("active");
           }
       });
   
       $("#show-sidebar").click(function () {
           $(".page-wrapper").addClass("toggled");
           $('body').css('overflow', 'hidden');
       });
   
       $("#close-sidebar").click(function () {
           $(".page-wrapper").removeClass("toggled");
           $('body').css('overflow', 'auto');
       });
   });
</script>
<script src="../unpkg.com/aos%402.3.1/dist/aos.js" type="42d35074aec610b2f8039c63-text/javascript"></script>
<script type="42d35074aec610b2f8039c63-text/javascript">
   AOS.init({
       easing: 'ease-out-back',
       duration: 1000
   });
</script>
<script type="42d35074aec610b2f8039c63-text/javascript">
   $('.loop').owlCarousel({
   
       autoplay: true,
       items: 2,
       loop: true,
       margin: 20,
       dots: true,
       nav: true,
       autoplayTimeout: 6000,
       navText: ['<span class="fa fa-long-arrow-left"></span> prev', 'next<span class="fa fa-long-arrow-right"></span>'],
       responsive: {
           0: {
               items: 1
           },
           600: {
               items: 2
           },
           1000: {
               items: 3,
           }
       }
   });
</script>
<script src="../cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.js" type="42d35074aec610b2f8039c63-text/javascript"></script>
<script type="42d35074aec610b2f8039c63-text/javascript">
   baguetteBox.run('.tz-gallery');
</script>
<script type="42d35074aec610b2f8039c63-text/javascript">
   document.querySelector("iframe").addEventListener("load",
       function () {
           window.scrollTo({
               top: 0,
               left: 0,
               behavior: 'smooth'
           });
       });
   
</script>
<script type="42d35074aec610b2f8039c63-text/javascript">
   $(document).ready(function () {
       $('#myCarousel1').carousel({
           interval: 2000
       });
   });
   
</script>
<script type="42d35074aec610b2f8039c63-text/javascript">
   $(document).ready(function () {
       $('#carousel-example-generic').carousel({
           hover: null
       });
   });
   
</script>
<script type="42d35074aec610b2f8039c63-text/javascript">
   $(document).ready(function () {
       Hammer('#carousel-example-generic').on("swipeleft", function () {
           $(this).carousel('next');
       });
       Hammer('#carousel-example-generic').on("swiperight", function () {
           $(this).carousel('prev');
       });
   });
</script>
<script type="42d35074aec610b2f8039c63-text/javascript">
   $('.owl-carousel').owlCarousel({
       loop: true,
       autoplay: true,
       autoplayHoverPause: false,
       responsive: {
           0: {
               items: 1
           },
           600: {
               items: 1
           },
           1000: {
               items: 1
           }
       }
   })
</script>
<script src="../cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" type="42d35074aec610b2f8039c63-text/javascript"></script>
<script src="../cdnjs.cloudflare.com/ajax/libs/jquery.imagesloaded/4.1.4/imagesloaded.pkgd.min.js" type="42d35074aec610b2f8039c63-text/javascript"></script>
<script src="../cdnjs.cloudflare.com/ajax/libs/jquery.isotope/3.0.6/isotope.pkgd.min.js" type="42d35074aec610b2f8039c63-text/javascript"></script>
<script type="42d35074aec610b2f8039c63-text/javascript">
   $(function () {
       /* Isotope Gallery */
   
       // init isotope
       var $gallery = $(".tm-gallery").isotope({
           itemSelector: ".tm-gallery-item",
           layoutMode: "fitRows"
       });
       // layout Isotope after each image loads
       $gallery.imagesLoaded().progress(function () {
           $gallery.isotope("layout");
       });
   
       $(".filters-button-group").on("click", "a", function () {
           var filterValue = $(this).attr("data-filter");
           $gallery.isotope({ filter: filterValue });
           console.log("Filter value: " + filterValue);
       });
   
       /* Tabs */
       $(".tabgroup > div").hide();
       $(".tabgroup > div:first-of-type").show();
       $(".tabs a").click(function (e) {
           e.preventDefault();
           var $this = $(this),
               tabgroup = "#" + $this.parents(".tabs").data("tabgroup"),
               others = $this
                   .closest("li")
                   .siblings()
                   .children("a"),
               target = $this.attr("href");
           others.removeClass("active");
           $this.addClass("active");
   
           // Scroll to tab content (for mobile)
           if ($(window).width() < 992) {
               $("html, body").animate(
                   {
                       scrollTop: $("#tmGallery").offset().top
                   },
                   200
               );
           }
       });
   
       // Magnific Pop up
       $('.tm-gallery').magnificPopup({
           delegate: 'a',
           type: 'image',
           gallery: { enabled: true }
       });
   });
</script>
<script src="js/jquery.pogo-slider.min.js" type="42d35074aec610b2f8039c63-text/javascript"></script>
<script src="cdn-cgi/scripts/7d0fa10a/cloudflare-static/rocket-loader.min.js" data-cf-settings="42d35074aec610b2f8039c63-|49" defer></script><script defer src="https://static.cloudflareinsights.com/beacon.min.js/v52afc6f149f6479b8c77fa569edb01181681764108816" integrity="sha512-jGCTpDpBAYDGNYR5ztKt4BQPGef1P0giN6ZGVUi835kFF88FOmmn8jBQWNgrNd8g/Yu421NdgWhwQoaOPFflDw==" data-cf-beacon='{"rayId":"7c68a2b65ec6411c","version":"2023.4.0","r":1,"b":1,"token":"f05180313b394d949146ebd6b24b5759","si":100}' crossorigin="anonymous"></script>


{% endblock %}
