{% extends 'base.html' %}
{% load static %}


{% extends 'app/base.html' %} 
{% load static %}
{% block title %}Building ghar | Floor Addition{% endblock title %}
{% block meta_description %}Building Ghar specializes in seamless floor additions, expanding your space with precision and expertise. From concept to completion.{% endblock %}
{% block meta_keywords %}Floor additon, house construction,{% endblock %}
{% block meta_author %}Page Author{% endblock %}
{% block og_url %}{% url 'index' %}{% endblock %}
{% block canonical_url %}{% url 'index' %}{% endblock %}
{% block robots_meta %}index, follow{% endblock %}



{% block content %}
<style>
    h1, h2, h3, h4, h5, h6 {
        position: relative;
        font-weight: 400;
        margin: 25px;
        background: 0 0;
        line-height: 1.2em;
    }
</style>


<section class="section p-none txt-justify" style="background: #fff;">
    <div class="container">
        <div class=" content-box content-box1">
            <div class="row">
                <div class="col-md-12">
                    <div class="sec-title text-center" style="margin-top: 25px">
                        <h2 class="text-center">Floor Addition
                        </h2>
                    </div>
                </div>
                <div class="col-md-6 bdrrht">
                    <h3>Expand Your Space with Building Ghar's Floor Addition Expertise
                    </h3>
                    
                        <p>
                            Building Ghar is your go-to partner for adding a new floor to your existing structure. Whether you need additional <a href="https://www.livingspaces.com/">living space</a>, an office area, or an expansion for your commercial property, our skilled team is here to bring your vision to life.
                        </p></br>
                        <p>
                            With our extensive experience in floor addition projects, we understand the intricacies involved in seamlessly integrating a new floor into your existing building. Our expert architects and engineers work closely with you to develop a comprehensive plan that considers structural integrity, aesthetics, functionality, and your specific requirements.
                        </p></br>

                        <p>
                            At Building Ghar, we believe that a successful floor addition should not only enhance the overall space but also seamlessly blend with the existing structure. Our team is dedicated to delivering exceptional procedure, utilizing quality materials and modern construction techniques, and ensuring a harmonious transition between the floors.

                        </p></br>
                        <p>
                            Our floor addition services encompass a range of options, from residential homes to commercial buildings. Whether you desire an additional level to accommodate a growing family or want to expand your business operations, our expertise and attention to detail guarantee a successful project.

                        </p>
                </div>
                <div class="col-md-6 p-none">
                    <img src="{% static 'img/services/pageimg/7.PNG' %}" class="img-responsive" alt="Image" />
                </div>
            </div>
        </div>
    </div>
 </section>
 <section class="section p-none txt-justify" style="background: #fafafa;">
    <div class="container">
        <div class=" content-box content-box1">
            <div class="row">
                <div class="col-md-12">
                    {% comment %} <div class="sec-title text-center" style="margin-top: 25px">
                        <h2 class="text-center">Construction </h2>
                    </div> {% endcomment %}
                </div>
                <div class="col-md-6 p-none bdrrht">
                    <img src="{% static 'img/services/pageimg/8.PNG' %}" class="img-responsive" alt="Image" />
                </div>
                <div class="col-md-6">
                    <h3>Key Features of Building Ghar's Floor Addition Services:


                    </h3>
                    <ul class="bullet-list">
                        <li>Comprehensive Consultation and Planning
                        </li>
                        <li>Expert Architects and Engineers
                        </li>
                        <li>Structural Integrity and Safety Assurance
                        </li>
                        <li>Seamless Integration with Existing Structure
                        </li>
                        <li>High-Quality Materials and Finishes
                        </li>
                        <li>Meticulous Craftsmanship
                        </li>
                        <li>Timely Project Execution and Delivery
                        </li>
                        <li>Transparent Communication and Collaboration</li>
                        <li>Competitive Pricing
                        </li>
                        <li><a href="https://asq.org/ ">Customer Satisfaction</a> Guaranteed
                        </li>
                        
                      </ul>
                      
                      <style>
                        .bullet-list {
                            list-style-type: none;
                          }
                          
                          .bullet-list li::before {
                            content: "•"; /* You can change this to any symbol you like */
                            font-weight: bold;
                            margin-right: 5px;
                          }
                          
                      </style>
                    </br><p>
                        Experience the transformative power of adding a new floor to your property with Building Ghar. Contact us today and let our team of professionals bring your floor addition dreams to life, expanding your space and enhancing your lifestyle or business operations.
                    </p>
                </div>
                
            </div>
        </div>
    </div>
 </section>
 
 

{% endblock %}
