{% extends 'base.html' %}
{% load static %}

{% extends 'app/base.html' %} 
{% load static %}
{% block title %}Building ghar | Renovation Home{% endblock title %}
{% block meta_description %}Get Your best renovation with high technology and premium quality building ghar services.{% endblock %}
{% block meta_keywords %}Renovation, home,{% endblock %}
{% block meta_author %}Page Author{% endblock %}
{% block og_url %}{% url 'index' %}{% endblock %}
{% block canonical_url %}{% url 'index' %}{% endblock %}
{% block robots_meta %}index, follow{% endblock %}




{% block content %}
<style>
    h1, h2, h3, h4, h5, h6 {
        position: relative;
        font-weight: 400;
        margin: 25px;
        background: 0 0;
        line-height: 1.2em;
    }
</style>


<section class="section p-none txt-justify" style="background: #fff;">
    <div class="container">
        <div class=" content-box content-box1">
            <div class="row">
                <div class="col-md-12">
                    <div class="sec-title text-center" style="margin-top: 25px">
                        <h2 class="text-center">Renovation </h2>
                    </div>
                </div>
                <div class="col-md-6 bdrrht">
                    <h3>Revitalize Your Space with Building Ghar's Renovation Expertise</h3>
                    
                        <p>
                            Building Ghar, where we specialize in breathing new life into existing spaces through innovative design and expert Procedure. we understand the transformative power of renovation, whether it's revitalizing a historic building, updating a residential property, or refreshing a commercial space. With our comprehensive renovation services.
                        </p></br>
                        <p>
                            With years of experience and a passion for excellence, we specialize in delivering seamless renovation solutions that elevate your space to its full potential. Our dedicated professionals collaborate closely with you, understanding your vision and objectives, to create a customized plan that suits your unique requirements.
                        </p></br>

                        <p>
                            At Building Ghar, we believe that a <a href="https://www.merriam-webster.com/dictionary/successful">successful</a> renovation project goes beyond just aesthetics. We focus on enhancing functionality, optimizing space utilization, and incorporating sustainable design principles to ensure a harmonious balance between style and practicality.

                        </p></br>
                        <p>
                            Our renovation services cover a wide range of areas, including kitchens, bathrooms, living spaces, offices, retail spaces, and more. Whether you're seeking a modern, minimalist update or a timeless, traditional makeover, our team of experts brings creative design solutions and expert to every project.
                        </p>
                </div>
                <div class="col-md-6 p-none">
                    <img src="{% static 'img/services/pageimg/5.PNG' %}" class="img-responsive" alt="Image" />
                </div>
            </div>
        </div>
    </div>
 </section>
 <section class="section p-none txt-justify" style="background: #fafafa;">
    <div class="container">
        <div class=" content-box content-box1">
            <div class="row">
                <div class="col-md-12">
                    {% comment %} <div class="sec-title text-center" style="margin-top: 25px">
                        <h2 class="text-center">Construction </h2>
                    </div> {% endcomment %}
                </div>
                <div class="col-md-6 p-none bdrrht">
                    <img src="{% static 'img/services/pageimg/6.PNG' %}" class="img-responsive" alt="Image" />
                </div>
                <div class="col-md-6">
                    <h3>Key Features of Building Ghar's Renovation Services:

                    </h3>
                    <ul class="bullet-list">
                        <li>Comprehensive Consultation and Planning
                        </li>
                        <li>Creative Design Solutions
                        </li>
                        <li>Skilled Craftsmanship
                        </li>
                        <li>Quality Materials and Finishes
                        </li>
                        <li>Functional Space Optimization
                        </li>
                        <li>Sustainable Design Practices
                        </li>
                        <li>Transparent Communication and Collaboration
                        </li>
                        <li>Transparent Communication</li>
                        <li>Timely Project Execution and Delivery
                        </li>
                        <li>Competitive Pricing
                        </li>
                        <li>Customer Satisfaction Guaranteed

                        </li>
                      </ul>
                      
                      <style>
                        .bullet-list {
                            list-style-type: none;
                          }
                          
                          .bullet-list li::before {
                            content: "•"; /* You can change this to any symbol you like */
                            font-weight: bold;
                            margin-right: 5px;
                          }
                          
                      </style>
                    </br><p>
                        Experience the transformative power of a professionally executed renovation project. Contact Building Ghar today and let our experts revitalize your space, bringing your vision to life with precision and style.
                    </p>
                </div>
                
            </div>
        </div>
    </div>
 </section>
 
 

{% endblock %}
